.error {
  color: red;
  font-size: 0.8rem;
  margin-top: 0.2rem;
}

.btn:hover {
  transition: all 0.1s;
  transform: translateY(-3px);
}

/* .loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0099e5;
  border-right-color: transparent;
  animation: l2 1s infinite linear;
  margin: auto;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
} */

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #0099e597;
  position: relative;
  animation: l24 1s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}
.loader:after {
  animation-duration: 4s;
}
@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}

/* ben10
/* .loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #0099e5;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
} */

.nav-underline1 .nav-link {
  position: relative;
  text-decoration: none !important;
}

.nav-underline1 .nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: black;
  transition: all 0.3s ease-in-out;
  transform: translateX(-50%);
}

.nav-underline1 .nav-link:hover::after,
.nav-underline1 .nav-link.active::after {
  width: 100%;
}
