PORT=Your_Port
CLIENT_URL=http://localhost:5173 #local
MONGODB_URL=Your_MONGODB_URL
JWT_SECRET_KEY=Your_Secret_Key
EMAIL_USER=Email_Address_For_OTP_Send 
EMAIL_PASS=Email_Secret_Key
STRIPE_SECRET_KEY=sk_test_Your_Stripe_Secret_Key